Package: com.iter99.zingvip
Name: Zing MP3 - Zing TV VIP
Depends: mobilesubstrate
Version: 1.2
Architecture: iphoneos-arm
Description: Enable Zing MP3 and Zing TV VIP.
Maintainer: iTer99
Author: iTer99
Section: Tweaks